.Card {
    color: #222;
    transition: opacity 100ms, transform 100ms;
    transform: scale(1);
    border: none !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}

.Title {
    color: #111;
}

.Text {
    color: #111;
}

.cardHighlighted {
    transform: scale(1.01);
}