.Card {
    color: #222;
    transition: opacity 100ms, transform 100ms;
    transform: scale(1);
}

.Title {
    color: #111;
}

.Text {
    color: #111;
}

.cardHighlighted {
    transform: scale(1.01);
}